/*
All reusable variables defined here.
*/

$base-bg-color: orange;
$base-color: #ffff;

$gray-color-light: rgb(246, 246, 239);
$gray-color-dark: #eee;

$secondary-color: #828282;
$primary-color: #000000;
